@charset "utf-8";
/* CSS Document */

::-webkit-scrollbar { display: none; }

body { background-color:#4a4a4a; font-family:Arial, Helvetica, sans-serif; margin:0; }

footer { background: transparent url(../images/greenBrickBG.png) repeat-x left bottom; height:75px; }
footer p { font-family:'Press Start 2P'; margin:0; padding-top:9px; text-align:center; }

header { background:#5c94fc url(../images/headerBG.png) repeat-x left 25%; font-family:'Press Start 2P'; position:relative; }
header > div { bottom:0; height:150px; margin:0 auto; min-width:900px; position: relative; width:1000px; }
header a { border:none; color:#000; text-decoration:none; }
header img { border:none; display:inline-block; float:left; margin-top:50px; }
header nav { height:150px; float:right; position:relative; }
header nav div { bottom: -110px; cursor:pointer; display:inline-block; height:auto; margin:0; margin-left:25px; position:relative; text-align:center; vertical-align:bottom; width:auto; }
header nav h1 { font-size:1.4em; margin-bottom:5px; width:auto; }
header nav img { float:none; margin:0 auto; }

iframe{ display:block; height:600px; margin:0 auto; width:1000px; }

nav { display:inline-block; float:right; width:auto; }

section { padding-top:15px; }
section#portfolio img { display:inline-block; width:490px; }


/*		IDs			*/
#content { background-color:#999; clear:both; margin:0 auto; min-width:900px; padding:25px; position:relative; width:1000px; z-index:500; }
#content h2 { font-family:'Press Start 2P'; font-size:1.4em; margin: 0; }
#content p { font-size:.9em; line-height:20px; }
#content strong { font-size:1em; }

#ground { background:#4a4a4a url(../images/brickBG.png) repeat left top; position:relative; width:100%; z-index:500; }

#nav { margin:0 auto; max-width:900px; position:relative; width:1000px; }
#navWrapper { bottom:0; position:absolute; width:100%; }

#resume { background-color:#fff; padding:0 25px 0 25px; }
#resume p {  }


/*		Classes		*/
.floatRight { float:right; }
.indent { padding-left:15px; }